[Unit]
Description=Matrix animation on the local display
After=systemd-vconsole-setup.service getty@tty1.service
Conflicts=getty@tty1.service
ConditionPathExists=/dev/tty0
ConditionPathExists=/dev/tty1
StartLimitIntervalSec=0

[Service]
Type=idle
Environment=TERM=linux
Environment=LC_ALL=C
EnvironmentFile=-/etc/default/matrix-console
ExecStart=@BINDIR@/matrix-console
ExecStopPost=@BINDIR@/matrix-console --restore
Restart=always
RestartSec=2
StandardInput=tty
StandardOutput=tty
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
